
body{
	background-image: url('../images/congruent_pentagon.png')
}


#jumbotron{
	margin-left: 15px;
	margin-right:700px;
	background-color:#C77131;
	color:white;
	text-align:center;
	clear:both;
}

#instructions {
	margin-left: 15px;
	background-color:#FAE6CE;
	color:#5F9860;
	text-align:left;
	margin-top: 25px;
	padding-bottom: 25px;
	padding-top: 15px;
	margin-right:500px;

}
#toguess{
	margin-left: 15px;
	background-color: #60C780;
	height:175px;
	margin-top: 15px;
	width: 175px;
	display: inline-block;
}
#winloss{
	background-color: #56FDFD;
	height:175px;
	margin-left:15px;
	display: inline-block;
	margin-top: 15px;
	width: 175px


}
#one{
	height:100px;
	margin-top: 25px;
}

#two{
	height:100px;
	margin-top: 25px;
}
#three{
	height:100px;
	margin-top: 25px;
}
#four{
	height:100px;
	margin-top: 25px;
}
#yourscore{
	background-color:#33A194;
	margin-left: 15px;
	margin-top: 25px;	
	height:50px;
	width:300px;
	padding-top:5px;
}

#score{
	background-color: #33A194;	
	margin-left: 15px;
	height:175px;
	margin-top:15px;
	width:300px
}